#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 40px;
  }
  
body .sidebar, body .sidebar.sidebar-touch {
  background: rgb(240, 175, 67);
  border: 0 !important;
  border-radius: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
}
body .sidebar-tabs {
  background: grey;
}
.svgicon {
  margin: 7px;
  width: 30px;
  height: 30px;
}
.svgicon > use {
  width: 30px;
  height: 30px;
}